body{
    
    background-color: #5937D7;
   }
h1{
    margin: 50px 0px;
    color:white;
    text-align: center;


}
.album{
    background-image:url(./assets/e5988129e9f43265e849d712f6e5cd67\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    margin: 0px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px 0px;
}